body {
    background-color: white;
    margin: 20;
    font-family: "monaco", monospace;


}


main img {
    align-items: center;
}

.header {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    width: 100%;
    flex-wrap: wrap;
    border-radius: 0px;
    align-items: center;
    font-family: monospace;
    background-color: white;
    font-size: 32pt;

}

header img {
    border-radius: 20px;
    max-width: 100%;
    height: auto;
    align-items: center;
    padding: 0px;
}


.nav {

    ul {
        list-style-type: none;
        margin: 0px;
        padding: 0px;
        overflow: hidden;
        background-color: #eea46f;
        border-radius: 10px;
    }

    li {
        float: right;

    }

    li a {
        display: block;
        color: black;
        text-align: left;
        padding: 25px;
        font-size: 18px;
        font-family: monaco,
            monospace;
        text-decoration: none;
    }

}


li a:hover {
    background-color: white;
}

main {
    padding: 0px;
    color: #333;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 0px;


}

.exhibits {
    display: flex;
    padding: 100px;
    text-align: center;
    font-size: 30pt;
    font-family: "monaco", monospace;

}


.orphanage {
    font-family: "monaco", monospace;
    font-size: 30pt;
    text-align: center;
    display: flex;
    padding: 20px;


}

h1 {
    font-size: 36pt;
    color: #444;
    font-family: "monaco", monospace;
    padding: 20px;

}

h2 {
    font-size: 20pt;
    color: #444;
    font-family: "monaco", monospace;

}

p {
    font-size: 20pt;
    color: black;
    font-family: "monaco", monospace;
    padding-left: 30px;
}

p2 {
    font-size: 12pt;
    color: black;
    font-family: "monaco", monospace;

}



footer {
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
    flex-wrap: wrap;
    align-items: left;
    font-family: monospace;
    background-color: white;

    footer img {
        display: flex;
        float: left;
        justify-content: space-evenly;
        border-radius: 20px;
        height: 100px;
    }
}

.row {
    display: -webkit-flex;
    display: flex;
}

.column {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    padding: 20px;
    margin: 20px;
    height: 750px;
    border: 3px solid;
    color: #c2734d;
    border-radius: 20px;


}

.column img {
    border-radius: 20px;


}

.row::after {
    content: "";
    display: table;
    clear: both;
}